.button
{
-fx-background-color : transparent;
}
.button:hover
{
-fx-border-color: #4ba872;

}
.button:pressed
{
-fx-background-color : #4ba872 ;
-fx-border-color: transparent;
}

.label{
-fx-background-color: #007399;
}

.button.btnBack{
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
	-fx-background-color: transparent;
	-fx-border-color:  #8c8c8c;
	-fx-border-width:  1px 0px 0px 0px;
}

.button.btnBack:hover{
	-fx-background-color: #8c8c8c;
}

.button.btnBack:pressed{
	-fx-background-color: #bfbfbf;
	-fx-border-color: transparent;
}

.button.btnCreate{
	-fx-background-color:  #007399;
}

.button.btnCreate:hover{
	-fx-background-color:  #007399;
	-fx-border-color: transparent;
}

.button.btnCreate:pressed{
	-fx-background-color: #0099cc;
	-fx-border-color: transparent;
}
