.button
{
-fx-background-color : transparent;
}
.button:hover
{
-fx-border-color: #0044cc;
-fx-border-radius: 20px;
}
.button:pressed
{
-fx-background-color : #4dd2ff ;
-fx-background-radius: 20px;
-fx-border-color: transparent;
}

.label{
-fx-background-color: #66cc99;
}

#btnBack:hover{
	-fx-color-label-visible: #2dd4ff;
}